/*  Hoja de estilos para ipad */

@media screen and (min-width: 760px) and (max-width: 1425px) {
/* reglas generales */

@font-face {
    /* Nombre que le doy a la fuente a la hora de invocarla en los estilos */
        font-family:"cuerpo";
    /* Ruta hasta el archivo ttf (fuente que quiero utilizar) */
        src: url(../recursos/texto/inconsolata/Inconsolata/Inconsolata-Regular.ttf);
    }
 @font-face {
        /* Nombre que le doy a la fuente a la hora de invocarla en los estilos */
            font-family:"titulos";
        /* Ruta hasta el archivo ttf (fuente que quiero utilizar) */
            src: url(../recursos/texto/inconsolata/Inconsolata_Expanded/Inconsolata_Expanded-ExtraBold.ttf);
        }

        html {
            font-size: 62.5%;
            box-sizing: border-box;
            max-width: 120rem;
            width: 95%;
            margin: 0 auto;
        }
        
        body {
        
            font-family: cuerpo;
            font-size: 1.6rem;
            line-height: 1.8
        }
        
        p {
            color: #000;
            font-size: 2rem
        }
        
        a {
            text-decoration: none
        }

/* cabecera*/
#cabecera{
    background-image: url("../recursos/imagenes/cabecera.png");
    opacity: 0.9;
    display: flex;
    flex-direction: column;

}

/* Menu */

#boton{
    border-style: none;
    font-size: 2.5rem;
    background-color: transparent;
}

#desplegable{
    text-align: center;
    display: flex;
    flex-direction: column;
}

#desplegable a:visited{
    color: rgb(255, 255, 255);
}

#desplegable a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

}

        /* Galeria */

section h2{
    text-align: center;
    margin: 0.8em;
    font-family: titulos;
}

#galeria{
    display: flex;
    flex-wrap: wrap;

}

img{

    height: 100%;
    width: 42%;
    padding: 1em;
    margin: auto;

}

#galeria img:hover{
    /* aumento las imagenes cuando esta el raton encima */
    transition: 1s;
    width: 47%;
    height: 100%;
}

/* pie de pagina */

footer{
    padding: 2em;
    background: rgb(38, 38, 39);
}
footer p{
    color: #fff;
    font-size: 0.8em;
    margin-bottom: 0em;
}

#iconos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    bottom: 1em;
}

.redes{

    position: relative;
    top: 3.5em;
    height: 100%;
    width: 15%;
}

#iconos a {
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 5em;
}

/* PAGINA QUIEN SOY */

#cuerpo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

#izquierda_texto{
    height: 100%;
    width: 96%;
    padding: 1rem;
    margin: auto;
    text-align: justify;

}

#derecha_foto{
    height: 100%;
    width: 96%;
    padding: 1rem;
    margin: auto;
    margin-bottom: 47em;

}
#derecha_foto img{
    height: 100%;
    width: 100%;
    padding: 1em;
    margin: auto;
}


/* PAGINA CONTACTOS */


#textarea{
    margin-top: 0.2em;
    }
    
    #section_contactos{
        padding: 1em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #izquierda{
        padding: 1em;
        margin: auto;
        text-align: justify;
        border-bottom-color:rgb(77, 77, 77) ;
        border-bottom-style: solid;
        border-bottom-width: 0.1em;
    }
    
    #derecha{
        padding: 1rem;
        margin: auto;
        text-align: justify;
    
    }
    
    #derecha p{
        font-size: 1em;
        margin-bottom: 0em;
        margin-top: 0.2em;
    }
    

}
