/*  Hoja de estilos para ipad */

@media screen and (min-width: 760px) and (max-width: 1270px) {
/* REGLAS GENERALES */

@font-face {
    /* Nombre que le doy a la fuente a la hora de invocarla en los estilos */
        font-family:"cuerpo";
    /* Ruta hasta el archivo ttf (fuente que quiero utilizar) */
        src: url(../recursos/texto/inconsolata/Inconsolata/Inconsolata-Regular.ttf);
    }
 @font-face {
        /* Nombre que le doy a la fuente a la hora de invocarla en los estilos */
            font-family:"titulos";
        /* Ruta hasta el archivo ttf (fuente que quiero utilizar) */
            src: url(../recursos/texto/inconsolata/Inconsolata_Expanded/Inconsolata_Expanded-ExtraBold.ttf);
        }

        html {
            font-size: 62.5%;
            box-sizing: border-box;
            max-width: 120rem;
            width: 95%;
            margin: 0 auto;
        }
        
        body {
        
            font-family: cuerpo;
            font-size: 1.6rem;
            line-height: 1.8
        }
        
        p {
            color: #000;
            font-size: 2rem
        }
        
        .desplegar a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            background-image: url("../recursos/imagenes/tachon_ipad.png");
            background-repeat: no-repeat;
           
            
        }

        a{
            text-decoration: none;
            padding: 1rem;
        }


/* ---------------------------CABECERA*/
#cabecera{
    background-image: url("../recursos/imagenes/cabecera_2.png");
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;

}

#icono_menu img{
    height: 2em;
    width: 2em;
    margin-left: 28em;
    margin-top: 1em;
    padding: 1em;
}

/* ----------------------------MENU */

#boton{
    border-style: none;
    font-size: 2.5rem;
    background-color: transparent;
}

.no_desplegar{
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .3s ease-in-out,opacity .5s linear,height .5s linear;
}

.desplegar{
    visibility: visible;
    opacity: 1;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.desplegar a:visited{
    color: rgb(255, 255, 255);
}

.desplegar a:hover{
    color: rgb(0, 0, 0);


}

/*-------------------------------GALERIA */

section h2{
    text-align: center;
    margin: 0.8em;
    font-family: titulos;
}

#galeria{
    display: flex;
    flex-wrap: wrap;

}

#galeria .primavera .destrozos .diario{

    padding: 1em 0em;
    

}
/*div para agrandar la imagen*/
.agrandar {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);

}
/*tamaaño de la imagen grande*/
.tamaño_grande {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/*div debajo de la clase*/
#subtitulo {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: rgb(255, 255, 255);
        padding: 10px 0;
        height: 150px;

}
.cerrar:hover, .cerrar:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.cerrar {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}


/* destrozos */
.destrozos{
    width: 50%;
}

#galeria .destrozos img{

    height: 96%;
    width: 89%;
    padding: 1em;
    margin: auto;

}
#galeria .destrozos p{
    height: 22%;
    width: 41%;
    z-index: -1;
    position: absolute;
    color: rgb(249 249 249);
    background-color: #454242;
    padding: 1.5em 0.4em 8em 0em;
    margin: 0.8em 0.8em 0.3em 1.4em;
}

#galeria .destrozos img:hover{
    opacity: 0;
    transition: 1s;

}
/* En primavera */
.primavera{
    width: 50%;
}

#galeria .primavera img{

    height: 96%;
    width: 89%;
    padding: 1em;
    margin: auto;

}
#galeria .primavera p{
    height: 22%;
    width: 41%;
    z-index: -1;
    position: absolute;
    color: rgb(249 249 249);
    background-color: #454242;
    padding: 1.5em 0.4em 5.5em 0em;
    margin: 0.8em 0.8em 0.3em 1.4em
}


#galeria .primavera img:hover{
    opacity: 0;
    transition: 1s;

}

/* Diario de todo */

#galeria .primavera .destrozos .diario{

    padding: 1em 0em;
    

}

.diario{
    width: 50%;
}

#galeria .diario img{

    height: 96%;
    width: 89%;
    padding: 1em;
    margin: auto;

}
#galeria .diario p{
    height: 22%;
    width: 41%;
    z-index: -1;
    position: absolute;
    color: rgb(249 249 249);
    background-color: #454242;
    padding: 1.5em 0.4em 8.5em 0em;
    margin: 0.8em 0.8em 0.3em 1.4em
}


#galeria .diario img:hover{
    opacity: 0;
    transition: 1s;

}


/*----------------PIE DE PAGINA */

footer{
    padding: 2em;
    background: rgb(38, 38, 39);
    margin-top: 5em;
}
footer p{
    color: #fff;
    font-size: 0.8em;
    margin-bottom: 0em;

}

#iconos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    bottom: 0.5em;
}

#footer div{
text-align: center;
}

.redes{

    position: relative;
    height: 40%;
    width: 41%;
    top: 1.6em;
}

#iconos a {
    color: rgb(255, 255, 255);
    bottom: 5em;
}

/* *************************************PAGINA QUIEN SOY ***************************************/

#cuerpo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

#izquierda_texto{
    height: 100%;
    width: 96%;
    padding: 1rem;
    margin: auto;
    text-align: justify;

}

#derecha_foto{
    display: flex;
    height: 100%;
    width: 96%;
    padding: 1rem;
    margin: auto;
    margin-bottom: 23em;
    flex-direction: column;
    flex-wrap: nowrap;

}
#derecha_foto img{
    height: 100%;
    width: 100%;
    padding: 1em;
    margin: auto;
}


/* ******************************************PAGINA CONTACTOS********************************** */


#textarea{
    margin-top: 0.2em;
    }
    
    #section_contactos{
        padding: 1em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #izquierda{
        padding: 1em;
        margin: auto;
        text-align: justify;
        border-bottom-color:rgb(77, 77, 77) ;
        border-bottom-style: solid;
        border-bottom-width: 0.1em;
    }
    .casilla_error{
        margin-top: 1em;
        margin-bottom: 10em;
        background-color: red; color:#fff
    }
    
    #derecha span{
        font-size: 1em;
        margin-bottom: 0em;
        margin-top: 0.2em;
    }
    #derecha{
        font-size: 1em;
        margin-bottom: 0em;
        margin-top: 0.2em;
        padding: 1rem;
        text-align: justify;
    }
    #iconos_derecha img{
        top: 0.8em;
        margin: 0.2em;
        width: 2em;
        position: relative;
        height: 2em;

}

}
