/*  Hoja de estilos para ipad */

@media screen and (min-width: 1270px) {

    /* reglas generales */
    
    @font-face {
        /* Nombre que le doy a la fuente a la hora de invocarla en los estilos */
            font-family:"cuerpo";
        /* Ruta hasta el archivo ttf (fuente que quiero utilizar) */
            src: url(../recursos/texto/inconsolata/Inconsolata/Inconsolata-Regular.ttf);
        }
     @font-face {
            /* Nombre que le doy a la fuente a la hora de invocarla en los estilos */
                font-family:"titulos";
            /* Ruta hasta el archivo ttf (fuente que quiero utilizar) */
                src: url(../recursos/texto/inconsolata/Inconsolata_Expanded/Inconsolata_Expanded-ExtraBold.ttf);
            }
    
            html {
                font-size: 62.5%;
                box-sizing: border-box;
                max-width: 120rem;
                width: 95%;
                margin: 0 auto;
            }
            
            body {
            
                font-family: cuerpo;
                font-size: 1.6rem;
                line-height: 1.8
            }
            
            p {
                color: #000;
                font-size: 2rem
            }
            
            #desplegable a {
                text-decoration: none;
                padding: 1rem;
                color: rgb(255, 255, 255);
                background-image: url("../recursos/imagenes/tachon_escritorio_6.png");
                background-repeat: no-repeat;
                background-size: cover;
            }

            a{
                text-decoration: none;
            }

            H4{
                padding-bottom: 1em;
            }
    
    
/* ---------------------------CABECERA*/
    #cabecera{
    
        background-image: url("../recursos/imagenes/cabecera.png");
        opacity: 0.9;
        background-repeat: no-repeat;
    }
    
/* ----------------------------MENU */
    
    #boton{
        border-style: none;
        font-size: 2.5rem;
        background-color: transparent;
        padding: 2rem;
    }
    #menu{
        padding: 2rem;
    }

    #desplegable{
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    #desplegable a:visited{
        color: rgb(255, 255, 255);
    }
    
   #desplegable a:hover{
        color: rgb(0, 0, 0);
    
    }
    
     
/*-------------------------------GALERIA */

section h2{
    text-align: center;
    margin: 0.8em;
    font-family: titulos;
}

#galeria{
    display: flex;
    flex-wrap: wrap;

}

#galeria .primavera .destrozos .diario{

    padding: 1em 0em;
    

}

/* destrozos */
.destrozos{
    width: 33.3%;
}

#galeria .destrozos img{

    height: 96%;
    width: 89%;
    padding: 1em;
    margin: auto;

}
#galeria .destrozos p{
    font-size: 1em;
    height: 15%;
    width: 22%;
    z-index: -1;
    position: absolute;
    color: rgb(249 249 249);
    background-color: #454242;
    padding: 0.7em 3.9em 9.5em 0.4em;
    margin: 1.2em 1em 1em 1.2em;
}

#galeria .destrozos img:hover{
    opacity: 0;
    transition: 1s;

}
/* En primavera */
.primavera{
    width: 33.3%;
}

#galeria .primavera img{

    height: 96%;
    width: 89%;
    padding: 1em;
    margin: auto;

}
#galeria .primavera p{
    font-size: 1em;
    height: 15%;
    width: 22%;
    z-index: -1;
    position: absolute;
    color: rgb(249 249 249);
    background-color: #454242;
    padding: 0.7em 4em 7em 0.4em;
    margin: 1.2em 1em 1em 1.2em;
}

#galeria .primavera img:hover{
    opacity: 0;
    transition: 1s;

}

/* Diario de todo */

.diario{
    width: 33.3%;
}

#galeria .diario img{

    height: 96%;
    width: 89%;
    padding: 1em;
    margin: auto;

}
#galeria .diario p{
    font-size: 1em;
    height: 15%;
    width: 22%;
    z-index: -1;
    position: absolute;
    color: rgb(249 249 249);
    background-color: #454242;
    padding: 0.7em 3.9em 10.4em 0.4em;
    margin: 1.2em 1em 1em 1.2em;
}

#galeria .diario img:hover{
    opacity: 0;
    transition: 1s;

}


/*----------------PIE DE PAGINA */

    footer{
        padding: 2em;
        background: rgb(38, 38, 39);
        margin-top: 5em;
    }
    footer p{
        color: #fff;
        font-size: 0.8em;
        margin-bottom: 0em;
        margin-bottom: 2em;
        margin-top: 1em;
    }
    #iconos{
        position: relative;
        bottom: 1em;
        margin-top: 2em;
    }

    #iconos a{
        position: relative;
        bottom: 1em;
        margin:1em;
    }
    
    .redes{
    
        position: relative;
        top: 0.8em;
        height: 100%;
        width: 3.5%;
        right: 0.8em;
    }
    
    #iconos a {
        color:rgb(255, 255, 255);
    }
    

/* *************************************PAGINA QUIEN SOY ***************************************/
#cuerpo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

#izquierda_texto{
    height: 100%;
    width: 96%;
    padding: 1rem;
    text-align: justify;

}

#derecha_foto{
    height: 100%;
    width: 96%;
    padding: 1rem;
    margin: auto;
    margin-bottom: 47em;

}
#derecha_foto img{
    height: 100%;
    width: 100%;
    padding: 1em;
    margin-top: 4em;
}
    
/* ******************************************PAGINA CONTACTOS********************************** */


#caja_contactos{
    padding: 1em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#izquierda{
    margin-bottom: 10em;
    position: relative;
    padding: 1em;
    margin-right: 0em;
    margin-left: 17em;
    margin-top: 10em;
    background-color: rgb(196, 196, 196);
}


#textarea{
    margin-top: 0.2em;
    }
    
    #derecha span{
        font-size: 1em;
        margin-bottom: 0em;
        margin-top: 0.2em;
    }
    #derecha{
        font-size: 1em;
        margin-bottom: 0em;
        margin-top: 9.2em;
        padding: 1em;
        text-align: justify;
    }
    #iconos_derecha img{
        top: 0.8em;
        margin: 0.2em;
        width: 2em;
        position: relative;
        height: 2em;

}
    }
    

