/*  Hoja de estilos para movil */
@media screen and (min-width:375px) and (max-width: 760px){

/* reglas generales */


@font-face {
    /* Nombre que le doy a la fuente a la hora de invocarla en los estilos */
        font-family:"cuerpo";
    /* Ruta hasta el archivo ttf (fuente que quiero utilizar) */
        src: url(../recursos/texto/inconsolata/Inconsolata/Inconsolata-Regular.ttf);
    }
 @font-face {
        /* Nombre que le doy a la fuente a la hora de invocarla en los estilos */
            font-family:"titulos";
        /* Ruta hasta el archivo ttf (fuente que quiero utilizar) */
            src: url(../recursos/texto/inconsolata/Inconsolata_Expanded/Inconsolata_Expanded-ExtraBold.ttf);
        }

html {
    font-size: 62.5%;
    box-sizing: border-box;
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

body {

    font-family: cuerpo;
    font-size: 1.6rem;
    line-height: 1.8
}

p {
    color: #000;
    font-size: 2rem
}

a {
    text-decoration: none
}


/* cabecera*/
#cabecera{
    background-image: url("../recursos/imagenes/cabecera.png");
    opacity: 0.9;
    display: flex;
    flex-direction: column;


}

/* Menu */

#boton{
    border-style: none;
    font-size: 2.5rem;
    background-color: transparent;
}

#desplegable{
    text-align: center;
    display: flex;
    flex-direction: column;
}
#desplegable a:visited{
    color: rgb(255, 255, 255);
}

#desplegable a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

}


/* Galeria */

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


section h2{
    text-align: center;
    margin: 0.8em;
    font-family: titulos;
    
}

#galeria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img{

    height: 13%;
    width: 96%;
    padding: 1rem;
    margin: auto

}

/* Pie de pagina */

footer p{
    color: #fff;
    font-size: 0.8em;
    margin-bottom: 0em;
}

footer{
    padding: 2em;
    background: rgb(38, 38, 39);
}

#iconos{
    display: flex;
    flex-direction: column;
}

.redes{

    position: relative;
    height: 100%;
    width: 10%;
    top: 1.6em;
}

#iconos a {
    color:rgb(255, 255, 255);
    text-align: center;
}
/* PAGINA QUIEN SOY */
#cuerpo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

#izquierda_texto{
    height: 100%;
    width: 96%;
    padding: 1rem;
    margin: auto;
    text-align: justify;

}

#derecha_foto{
    height: 100%;
    width: 96%;
    padding: 1rem;
    margin: auto;

}


/* PAGINA CONTACTOS */

#textarea{
margin-top: 0.2em;
}

#section_contactos{
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#izquierda{
    padding: 1em;
    margin: auto;
    text-align: justify;
    border-bottom-color:rgb(77, 77, 77) ;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
}

#derecha{
    padding: 1rem;
    margin: auto;
    text-align: justify;

}

#derecha p{
    font-size: 1em;
    margin-bottom: 0em;
    margin-top: 0.2em;
}

}
