/*  Hoja de estilos para movil */
@media screen and (min-width:375px) and (max-width: 760px){

/* reglas generales */


@font-face {
    /* Nombre que le doy a la fuente a la hora de invocarla en los estilos */
        font-family:"cuerpo";
    /* Ruta hasta el archivo ttf (fuente que quiero utilizar) */
        src: url(../recursos/texto/inconsolata/Inconsolata/Inconsolata-Regular.ttf);
    }
 @font-face {
        /* Nombre que le doy a la fuente a la hora de invocarla en los estilos */
            font-family:"titulos";
        /* Ruta hasta el archivo ttf (fuente que quiero utilizar) */
            src: url(../recursos/texto/inconsolata/Inconsolata_Expanded/Inconsolata_Expanded-ExtraBold.ttf);
        }

html {
    font-size: 62.5%;
    box-sizing: border-box;
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

body {

    font-family: cuerpo;
    font-size: 1.6rem;
    line-height: 1.8
}

p {
    color: #000;
    font-size: 2rem
}

.desplegar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-image: url("../recursos/imagenes/tachon_movil.png");
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    padding: 1rem;
}


/* cabecera*/
#cabecera{
    background-image: url("../recursos/imagenes/cabecera_2.png");
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;


}

#icono_menu img{
    height: 2em;
    width: 2em;
    margin-left: 13em;
    margin-top: 1em;
    padding: 1em;
}

/* Menu */

#boton{
    border-style: none;
    font-size: 2.5rem;
    background-color: transparent;
}

.no_desplegar{
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .3s ease-in-out,opacity .5s linear,height .5s linear;
}
.desplegar{
    visibility: visible;
    opacity: 1;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.desplegar a:visited{
    color: rgb(255, 255, 255);
}

.desplegar a:hover{
    color: rgb(0, 0, 0);
    

}


/* Galeria */

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


section h2{
    text-align: center;
    margin: 0.8em;
    font-family: titulos;
    
}

#galeria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Fotos de destrozos CAMBIO¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡*/
#galeria .destrozos img{
    height: 100%;
    width: 98%;

}

#galeria .destrozos img:hover{
    opacity: 0;
    transition: 1s;

}

#galeria .destrozos{

    padding: 1em 0em;


}

#galeria .destrozos p{
    z-index: -1;
    position: absolute;
    color: rgb(249 249 249);
    background-color: #454242;
    padding: 0em 0.4em 6.5em 0.4em;
    margin: 0.8em 0.6em 0.3em 0.5em;
}

/* Fotos de diario */
#galeria .diario img{
    height: 100%;
    width: 98%;

}



#galeria .diario img:hover{
    opacity: 0;
    transition: 1s;

}

#galeria .diario{

    padding: 1em 0em;


}

#galeria .diario p{
    z-index: -1;
    position: absolute;
    color: rgb(249 249 249);
    background-color: #454242;
    padding: 1.5em 0.4em 5.8em 0.6em;
    margin: 0.3em 0.9em 0.3em 0.5em;
}

/* Fotos de en primavera */
#galeria .primavera img{
    height: 100%;
    width: 98%;
 
}



#galeria .primavera img:hover{
    opacity: 0;
    transition: 1s;

}

#galeria .primavera{

    padding: 1em 0em;


}

#galeria .primavera p{
    z-index: -1;
    position: absolute;
    color: rgb(249 249 249);
    background-color: #454242;
    padding: 0em 0.3em 4.5em 0.4em;
    margin: 0.2em 0.6em 0.3em 0.5em;
}

/* Pie de pagina */

footer p{
    color: #fff;
    font-size: 0.8em;
    margin-bottom: 0em;
}

footer{
    padding: 2em;
    background: rgb(38, 38, 39);
    margin-top: 3em;
}

#iconos{
    display: flex;
    flex-direction: column;
}

.redes{

    padding-right: 0.8em;
    position: relative;
    height: 100%;
    width: 10%;
    top: 1em;
}

#iconos a {
    color:rgb(255, 255, 255);
    text-align: center;
}
/* PAGINA QUIEN SOY */
#cuerpo{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

#izquierda_texto{
    height: 33%;
    width: 96%;
    padding: 0.4em;
    margin: 0.4em;
    text-align: justify;

}


#derecha_foto img{
    height: 100%;
    width: 98%;
    padding: 0.5em;
    margin: 0.4em;


}


#textarea{
margin-top: 0.2em;
}

#section_contactos{
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#izquierda{
    padding: 1em;
    margin: auto;
    text-align: justify;
    border-bottom-color:rgb(77, 77, 77) ;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
}

.casilla_error{
    margin-top: 1em;
    margin-bottom: 10em;
    background-color: red; color:#fff
}

#derecha{
    font-size: 1em;
    margin-bottom: 0em;
    margin-top: 0.2em;
}
#iconos_derecha img{
    top: 0.8em;
    margin: 0.2em;
    width: 2em;
    position: relative;
    height: 2em;
}
}